header{
    background-color: #FFF8F3 ;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 100px;

}
.navigationbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    align-items: center;
    
}

.afik{
    font-size: 45px;
}
.navigationoption{
    display: flex;
    list-style: none;
}

li > a{
    list-style: none;
    text-decoration: none;
    margin-right: 50px;
    color: black;
}
.banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.bannertext{
    padding-left: 200px;
    padding-right: 100px;
}
.btn{
    padding: 10px;
    background-color: #FD6E0A;
    color: aliceblue;
    border-radius: 3px;
    border: 1px solid #FD6E0A;
}
.profilepic{
    width: 500px;
    padding: 0px 80px 0px 0px;
}

.aboutme{
    background-color: #FFF8F3;
    margin: 0px 230px 100px 230px;
    text-align: center;
    padding: 150px 300px;

}
.amg{
    font-size: 45px;
    margin-bottom: 0px;
}
.amt{
    font-size: 18px;
    font-weight: 300px;
    color: #757575;
}
.info-container{
    display: flex;
    justify-content: space-around;
}

