header{
    background-color: #FFF8F3 ;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 100px;

}
.navigationbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    align-items: center;
    
}

.afik{
    font-size: 45px;
}
.navigationoption{
    display: flex;
    list-style: none;
}

li > a{
    list-style: none;
    text-decoration: none;
    margin-right: 50px;
    color: black;
}
.banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.bannertext{
    padding-left: 200px;
    padding-right: 100px;
}
.btn{
    padding: 10px;
    background-color: #FD6E0A;
    color: aliceblue;
    border-radius: 3px;
    border: 1px solid #FD6E0A;
}
.bttn{
    padding: 10px;
    background-color: #FD6E0A;
    color: aliceblue;
    border-radius: 3px;
    border: 1px solid #FD6E0A;
    justify-content: space-around;
}
.profilepic{
    width: 500px;
    padding: 0px 80px 0px 0px;
}

.aboutme{
    background-color: #FFF8F3;
    margin: 0px 230px 100px 230px;
    text-align: center;
    padding: 150px 300px;

}
.amg{
    font-size: 45px;
    margin-bottom: 0px;
}
.amt{
    font-size: 18px;
    font-weight: 300px;
    color: #757575;
}
.info-container{
    display: flex;
    justify-content: space-around;
}

.mywork{
    margin: 0px 230px 100px 230px;
}
.whatido{
    font-weight: 800;
    text-align: center;
    padding: 20px 300px 50px 300px;
}
.hur{
    font-size: 35px;
}

.workd{
    display: flex;
    justify-content: space-around;
}

.work{
    margin: 0px  20px 0px 20px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 80px;
    border: 1px solid  #FFF;
    box-shadow: 3px 3px 3px 3px #a3a3a3;
    font-weight: 500;

}
.work:hover{
    /* box-shadow: 3px 3px 3px 3px #000000; */
}
.summary{
    margin: 0px 230px 100px 230px;
}
.sum{
    text-align: center;
}
.p{
  height: 1px;
  background-color: black; 
  margin-right: 20px;

}

.section{
    display: flex;
    justify-content: space-between;
    margin:  10px;
    color: #474747;
}

.footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 100px 100px;
}

.left{
    font-size: 20px;
    font-weight: 500;
}

.right{
    display: block;
    border-radius: 5px;
}

.left, .right{
    width: 50%;
    text-align: center;
}

footer > div > a{
    padding: 10px;
}

.form  input ,textarea{
    display: block;
    margin-left: 100px;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border: 0px ;
    border-radius: 0px;
    width: 80%;

}
#butt{
   margin-right: 550px;
}